*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: rgb(202, 156, 87);
    font-family: 'Poppins', sans-serif;
}
img
{
    width: 200px;
    height: 200px;
}
h1, header
{
    text-align: center;
    font-weight: bold;
}
nav 
{
    position: sticky;
    top: 0;
}
nav ul
{
    background-color: rgb(250, 186, 91);
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    justify-content: space-evenly;
}
nav ul li
{
    margin:10px;
    border:2px solid rgb(192, 134, 58);
    padding:5px 50px;
    background-color: rgb(133, 73, 31);
    color:#fff;
    border-radius: 10px;
    cursor:pointer;
    transition: .3s;
    font-weight: bold;
}
nav ul li:hover{
    border-color: rgb(48, 214, 229);
    background-color:rgb(190, 134, 30);
    color:rgb(211, 7, 7);
  }
  nav ul li:active{
    border-color: rgb(20, 90, 97);
    background-color:rgb(110, 84, 36);
    transition: none;
  }
  .ciasteczka
  {
      border: 1px solid rgb(30, 122, 92);
      position: fixed;
      bottom: 0;
      width: 100%;
      background-color: aquamarine;
      display: flex;
      justify-content: space-around;
      padding: 20px;
      opacity: 0.8;
  }
  .ciasteczka p
  {
      font-weight: bold;
  }