*
{
    box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
}
body
{
    scroll-behavior: smooth;
    margin: 0;
    background-color: rgb(202, 156, 87);
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
body > header
{
    background-color: rgba(202, 156, 87);
    border: 15px solid rgb(202, 156, 87);
    text-align: center;
}
img
{
    max-width: 100%;
    border-radius: 8px;
}
h1
{
    font-weight: bold;
    text-align: center;
}
#naglowek1
{
    text-align: center;
}
nav 
{
    position: sticky;
    top: 0;
}
nav ul a
{
    text-decoration: none;
    color: inherit;
}
nav ul
{
    background-color: rgb(250, 186, 91);
    display: flex;
    border-top: none;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    justify-content: space-evenly;
}
nav ul li
{
    margin:10px;
    border:2px solid rgb(192, 134, 58);
    padding:5px 50px;
    background-color: rgb(133, 73, 31);
    color:#fff;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor:pointer;
    transition: .3s;
    font-weight: bold;
}
nav ul li:hover
{
    border-color: rgb(48, 214, 229);
    background-color:rgb(190, 134, 30);
    color:rgb(211, 7, 7);
}
  nav ul li:active
{
    border-color: rgb(20, 90, 97);
    background-color:rgb(110, 84, 36);
    transition: none;
}
  .ciasteczka
  {
      border: 1px solid rgb(30, 122, 92);
      position: fixed;
      bottom: 0;
      width: 100%;
      background-color: aquamarine;
      display: flex;
      justify-content: space-around;
      padding: 20px;
      opacity: 0.8;
  }
  .ciasteczka p
  {
      font-weight: bold;
  }
  main
  {
      padding: 2em;
  }
  main > header
  {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .imgfield
  {
      text-align: center;
  }
  @media (min-width:768px){
    main > header,
    main > article,
    #kontakt 
    {
      display:flex;
      align-items: center;
      justify-content: center;
    }
    main > header > *,
    main > article > *,
    #kontakt > *
    {
        flex: 1;
    }
}
  .headertekst
  {
      padding: 0em 2em 1em 2em;
  }
.tableField
{
    display:flex;
    justify-content: center;
    align-items: center;
}
nav ul li a
{
    text-decoration: none;
    color: #fff;
}
#kontakt
{
    padding: 0 2em;
}
#kontakt form
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#kontakt form input,
#kontakt form textarea
{
    width: 80%;
    padding: .5rem;
    outline: 0ch;
    margin-bottom: .3rem;
    border-radius: 5px;
    font-family: inherit;
}
#kontakt form button 
{
    padding: .2rem 1rem;
    border-radius: 5px;
    outline: 0;
    border: none;
    cursor: pointer;
}
footer
{
    padding: .3em 1.5em;
    text-align: center;
}